<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
 {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-menu">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- left side div -->
            <div class="col-md-4 col-8 main_header_right align-items-center">
                <figure >
                    <img class="img_fluid" src="images/about.JPG" alt="rajat"  title="rajat tomar">
                </figure>
               </div>
               <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to weather app</p>
                <h1>I Am a Full Stack  <span class="text_clr">  WEB DEVELOPER</span></h1>
                <a href="https://www.linkedin.com/in/rajattomar115"><button>About me</button> </a>
              </div>
             
           
            </div>
        </div>
    </div>
</div>
 <!-- footer code -->
 <footer>
   <p>created with 💝 by rajat tomar </p>
 </footer>
</body>
</html>